.config/autokey/autokey.json
.config/autokey/autokey.json~
nvim/.config/nvim.bak.bak
btop/.config/btop/btop.log
btop/.config/btop
btop/.config/btop/btop.log
btop/.config/btop/btop.log
btop/.config/btop/btop.log
btop/.config/btop/btop.log
btop/.config/btop/btop.log
