# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=10000
SAVEHIST=50000
bindkey -e
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/kenneth/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

# Aliases
alias o='xdg-open'
alias ls='ls --color=auto'
alias la='ls -a'
alias ll='ls -al'
alias grep='grep --color=auto'
alias sail='[ -f sail ] && sh sail || sh vendor/bin/sail'
alias sudo='sudo '
alias lzg='lazygit'
alias lzd='lazydocker'
alias t='task'
alias dwr="dotnet watch run"
alias dr="dotnet run"

ytdlpmp3() {
    yt-dlp --extract-audio --audio-format mp3 --audio-quality 0 "$1"
}

bindkey -s ^f "tmux-sessionizer\n"

eval "$(starship init zsh)"
eval "$(zoxide init zsh)"
