# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=10000
SAVEHIST=50000
bindkey -e
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/kenneth/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

# Aliases
alias o='xdg-open'
alias ls='ls --color=auto'
alias la='ls -a'
alias ll='ls -al'
alias grep='grep --color=auto'
alias sail='[ -f sail ] && sh sail || sh vendor/bin/sail'
alias sudo='sudo '
alias lzg='lazygit'
alias lzd='lazydocker'
alias t='task'
alias dwr="dotnet watch run"
alias dr="dotnet run"

ytdlpmp3() {
    yt-dlp --extract-audio --audio-format mp3 --audio-quality 0 "$1"
}

export PATH=$PATH:~/.local/bin
export PATH=$PATH:~/bin
export MANPAGER='nvim +Man!'
export VISUAL=nvim
export FZF_DEFAULT_OPTS=" \
--height 50% --border --reverse"
export PATH="$PATH:/home/kenneth/.dotnet/tools"
export DOTNET_CLI_TELEMETRY_OPTOUT=1
export PATH="$PATH:/opt/JetBrains Rider-2024.2.7/bin"
export PATH="$PATH:/opt/azuredatastudio-linux-x64/bin"
export PATH="$PATH:/home/kenneth/.spicetify"
export PATH="$PATH:/opt/android-studio/bin"

bindkey -s ^f "tmux-sessionizer\n"
bindkey -s ^t "taskwarrior-tui\n"

eval "$(starship init zsh)"
eval "$(zoxide init zsh)"
